* {
    box-sizing: border-box;
}

body {
    background-color: #fbf070;
}

.title {
    font-family: "Anton", sans-serif;
    font-weight: 900;
    font-size: 30px;
    margin-left: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-indent: 35px;
}

p {
    font-family: "Georgia", "Arial", sans-serif;
    font-size: 16px;
    margin: 0px 25px;
    text-indent: 35px;
}

a {
    text-decoration: none;
    color: blue;
}

.italic {
    font-style: italic;
    font-weight: bold;
}

.main {
    min-width: 320px;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 320px;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0;
}

header p,
.date {
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: italic;
}

.my-photo {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin: 50px 0px 50px 25px;
}

.my-name {
    margin: 50px 0px 50px 0;
    padding-left: 15px;
}

.my-name p {
    margin-left: 0;
}

table,
th,
td {
    margin: 0 25px;
    padding: 10px 15px;
    text-align: left;
}

.list-item,
.lvl {
    display: inline-block;
    background-color: #000;
    border-radius: 8px;
    color: white;
    text-align: center;
    padding: 10px;
    margin-right: 20px;
}

.list-item:hover {
    background-color: green;
    color: red;
}

.list-item:first-child {
    margin-left: 20px;
}

.lvl {
    border: none;
    margin-left: -10px;
    background: none;
    color: black;
}

section {
    border-bottom: 3px solid #000;
    padding-bottom: 10px;
}

section:last-child {
    border-bottom: none;
}

.work {
    font-family: "Arial", sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin: 10px 10px 0 10px;
    padding: 0px;
}

.work:first-child {
    margin-top: 30px;
}
